@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="alert alert-warning mb-2">
    Could not load counter for <strong>FAILED</strong>.
</div>
